<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reminder</title>
    </head>
    <body>
        <div id="app">{{hello}}</div>
        <script src="/assets/js/app.js"></script>
    </body>
</html>
